{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'datafinder:restfinder_apiprovider_list' %}">APiProvider Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>provider</td>
    <td>key</td>
    <td>secret</td>
    <td>daily_limit</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.provider }}</td>
    <td>{{ object.key }}</td>
    <td>{{ object.secret }}</td>
    <td>{{ object.daily_limit }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'datafinder:restfinder_apiprovider_create' %}">Create new APiProvider</a>
{% endblock %}