{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'datafinder:restfinder_apiprovider_list' %}">APiProvider Listing</a></p>
<form method="post">
{% csrf_token %}
{{form}}
<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}