{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'datafinder:restfinder_apiprovider_list' %}">APiProvider Listing</a></p>
<table class="table">
<tr><td>provider</td><td>{{ object.provider }}</td></tr>
<tr><td>key</td><td>{{ object.key }}</td></tr>
<tr><td>secret</td><td>{{ object.secret }}</td></tr>
<tr><td>daily_limit</td><td>{{ object.daily_limit }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit APiProvider</a>

{% endblock %}