{% extends "base.html" %}
{% load static %}
{% block content %}
<a class="btn btn-default" href="{% url 'datafinder:restaurantcreateview' %}">Add new Restaurant</a>
<table class="table">
<tr>
    <td>Name</td>
    <td>Phone</td>
    <td>Location</td>
    <td>Map</td>
    <td>Categories</td>
    <td>Website</td>
    <td>Cuisines</td>
    <td>YellowPagesData</td>
    <td>YelpData</td>
    <td>GoogleDataInfo</td>
    <td>ZohoCrmId</td>
    <td>LastUpdated</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{ object.name }}</td>
    <td>{{ object.phone }}</td>
    <td>{{ object.location }}</td>
    <td><a href="http://maps.google.com/?q={{ object.lat }},{{ object.lat }}">Map</a></td>
    <td>{{ object.categories }}</td>
    <td>{{ object.website }}</td>
    <td>{{ object.cuisines }}</td>
    <td>{{ object.yellowPagesData }}</td>
    <td>{{ object.yelpData }}</td>
    <td>{{ object.googleDataInfo }}</td>
    <td>{{ object.zohoCrmId }}</td>
    <td>{{ object.lastUpdated }}</td>
</tr>
{% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/resturant-list?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/resturant-list?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</table>

{% endblock %}




