{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'vega_promptcloud_restaurant_list' %}">Restaurant Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>address</td><td>{{ object.address }}</td></tr>
<tr><td>phone</td><td>{{ object.phone }}</td></tr>
<tr><td>location</td><td>{{ object.location }}</td></tr>
<tr><td>categories</td><td>{{ object.categories }}</td></tr>
<tr><td>website</td><td>{{ object.website }}</td></tr>
<tr><td>cuisines</td><td>{{ object.cuisines }}</td></tr>
<tr><td>yellowPagesData</td><td>{{ object.yellowPagesData }}</td></tr>
<tr><td>yelpData</td><td>{{ object.yelpData }}</td></tr>
<tr><td>googleDataInfo</td><td>{{ object.googleDataInfo }}</td></tr>
<tr><td>lastUpdated</td><td>{{ object.lastUpdated }}</td></tr>
<tr><td>lastUploaded</td><td>{{ object.lastUploaded }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Restaurant</a>

{% endblock %}