{% extends "base.html" %}
{% load static %}
{% block content %}
<a class="btn btn-default" href="{% url 'datafinder:restaurantlistView' %}">Restaurant list</a>
<form method="post">
{% csrf_token %}
{{form}}
<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}