{% extends "base.html" %}
{% load static %}
{% block content %}
<a class="btn btn-default" href="{% url 'datafinder:search_querycreateview' %}">Add Search Query</a>
<table class="table">
<tr>
    <td>Search</td>
    <td>Location</td>
    <td>Api_provider</td>
    <td>Radius</td>
    <td>Completed</td>
    <td>Failed</td>
    <td>Created_on</td>
    <td>UpdateInfo</td>


</tr>
{% for object in object_list %}
<tr>

    <td>{{ object.search }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.api_provider }}</td>
    <td>{{ object.radius }}</td>
    <td>{{ object.completed }}</td>
    <td>{{ object.failed }}</td>
{#    {% if object.completed %}#}
{#        <td>{{ object.completed }}</td>#}
{#    {% endif %}#}
{#    <td>{{ object.failed }}</td>#}
    <td><a class="btn btn-default" href="{{ object.get_update_url }}">Update</a></td>
    <!--{{ object.get_update_url }}-->
</tr>
{% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/searchquery-list?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/searchquery-list?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</table>

{% endblock %}




