{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="#">Search_Query Listing</a></p>
<table class="table">
<tr><td>search</td><td>{{ object.search }}</td></tr>
<tr><td>location</td><td>{{ object.location }}</td></tr>
<tr><td>yelp</td><td>{{ object.yelp }}</td></tr>
<tr><td>yellow_pages</td><td>{{ object.yellow_pages }}</td></tr>
<tr><td>completed</td><td>{{ object.completed }}</td></tr>
<tr><td>failed</td><td>{{ object.failed }}</td></tr>
<tr><td>created_on</td><td>{{ object.created_on }}</td></tr>
<tr><td>google</td><td>{{ object.google }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Search_Query</a>

{% endblock %}